:root {
    /* color */
    --pink: #E97BAD;
    --black: #000;
    --darkgray: #3c3939;

    /* styling */
    --size-gameboy: clamp(1rem, .8rem + 2vw, 2rem);

    /* game */
    /* sets the size of the screen by mutliplying the grid and player size, 4 * 50px...  */
    --size-grid: 4;
    --size-player: 75px;


    --size-screen: calc( var(--size-grid) * var(--size-player));

    --transition-stop: 10000s linear;
    --transition-player: 1.5s linear;


    /* calculates how many steps steps there by saying grid * grid or 4 * 4 which is 16 steps */
    --steps: calc( var(--size-grid) * var(--size-grid));
    /* calculates which step the player is currently on out of 16. So if --x is 0.5 and steps are 16, than 0.5 * 16 = step 8.
       So if the player is on x position; 0.5 and y position 0.25 than you multiply both numbers by 16. 0.5 * 16 = 8, 0.25 * 16 = 4. So the user is on column: 8 and row: 4. 
       syntax fouten uit mijn code gehaald met Ai*/
    --x-steps: max(calc( var(--x, 0) * var(--steps) + 0.49), 1);
    --y-steps: max(calc( var(--y, 0) * var(--steps) + 0.49), 1);


    &:has(article input[type=radio]:first-of-type:checked),
    &:has(article input[type=radio]:nth-of-type(3):checked) {
        transition: --x var(--transition-stop), --y var(--transition-player);
    }

    &:has(article input[type=radio]:nth-of-type(2):checked),
    &:has(article input[type=radio]:nth-of-type(4):checked) {
        transition: --x var(--transition-player), --y var(--transition-stop);
    }

    /* Ai kwam erachter de ik nth-of-type(2) 3 keer had geschreven waardoor het niet werkten */
    /* up */
    &:has(article input[type=radio]:first-of-type:checked) {
        --y: 0.00001;
    }

    /* left */
    &:has(article input[type=radio]:nth-of-type(4):checked) {
        --x: 0.00001;
    }

    /* right */
    &:has(article input[type=radio]:nth-of-type(2):checked) {
        --x: 1;
    }

    /* down */
    &:has(article input[type=radio]:nth-of-type(3):checked) {
        --y: 1;
    }  
}

body {
    margin: 2rem;
}

main {
    height: 200vh;
}

h1 {
    font-size: 5em;
    text-align: center; 

}
/**********
 * gameboy *
***********/
article {
    width:  calc( var(--size-gameboy) * 13);
    padding: 2rem;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: start;
    border: solid 5px var(--black);
    border-radius: 3px 3px 50px 3px;

    anchor-name:--anchor;

    section {
    width: 100%;
    margin-bottom: 1rem;

    background-color: var(--black);
    }
}

/*********
 * Power *
**********/
main > input[type=checkbox]:first-of-type {
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: var(--black);
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    position-anchor:--anchor;
    top:anchor(top);
    left:anchor(left);
    translate: .5em -1em;
    transition: .3s;


    &:checked {
    translate: 3em -1em;

    }
}

main label[for=power] {
    position: absolute;
    position-anchor: --anchor;
    top:anchor(top);
    left:anchor(left);
    translate: .5em .5em;
}

/************
 * controls *
*************/
article section:nth-of-type(2) {
    height: 18.75em;
    background-color: transparent;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-items: center;
    align-items: center;

    div {
        display: flex;
        width: fit-content;
    }
}

button {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 100%;
    border: solid 3px var(--black);

    &:active {
        background-color: black;
    }
}

input[type=radio] {
    appearance: none;
    width: 20px;
    height: 10px;
    background-color: gray;
    border-radius: 100%;
    border: solid 3px var(--black);

    &:active {
        background-color: black;
    }

}

/* Arrows */
section:nth-of-type(2) > div:first-of-type {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: start;
    justify-items: end;
    align-items: center;
}

section:nth-of-type(2) div:first-of-type input[type=radio] {
    border-radius: 0;
    width: 45px;
    height: 40px;
    border-radius: 3px;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:first-of-type {
    grid-column: 2;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(2) {
    grid-row: 2;
    grid-column: 3;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(3) {
    grid-column: 2;
    grid-row: 3;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(4) {
    grid-column: 1;
    grid-row: 2;
}

section:nth-of-type(2) div:first-of-type button:first-of-type, section:nth-of-type(2) div:first-of-type button:nth-of-type(3) {
    rotate: 90deg;
}

/* A & B */
section:nth-of-type(2) div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    ul li {
        width: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 3em;
        height: 3em
    }

    ul li:not(:first-of-type) p {
        margin-bottom: 2em;
    }

    @layer p {
        justify-self: start;
        align-self: start;
        margin: 0;
    }
}

/* start and select */
section:nth-of-type(2) div:nth-of-type(3) {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: end;

    button {
        border-radius: 10px;
        width: 40px;
        margin: 1em;
        grid-row: 1;
        margin-bottom: 0;
    }

    input[type=checkbox] {
        appearance: none;
        border-radius: 10px;
        width: 40px;
        margin: 1em;
        grid-row: 1;
        margin-bottom: 0;

        background-color: gray;
        border: solid 3px var(--black);

        &:active {
            background-color: black;
        }
    }

    p {
        text-align: center;
    }
}

/**********
 * screen *
***********/
article > section:first-of-type {
    height: 20em;
    background-color: var(--black);
    border-radius: 3px 3px 40px 3px;
    display: grid;
    place-items: center;

    > section {
        width:  calc( var(--size-gameboy) * 10);
        max-width: 200px;
        height: 200px;
        background-color: var(--darkgray);
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    section h2 {
        opacity: 0;
        text-align: center;
        align-self: center;
    }
}

main:has(> input[type=checkbox]:first-of-type:checked) section:has(section) section {
    background-color: white;
    transition: 2s;
}

main:has(> input[type=checkbox]:first-of-type:checked) section:has(section) section h2 {
    opacity: 1;
    transition: 4s;
}


/********
 * Game *
*********/
/* press start */
article > section:first-of-type div {
    width: var(--size-player);
    height: var(--size-player);
    background-color: black;
    border-radius: 100%;

    translate:
    calc(( var(--size-screen) - var(--size-player)) * var(--x, 0))
    calc(( var(--size-screen) - var(--size-player)) * var(--y, 0));


    display: none;
}

article:has(section:nth-of-type(2) div:nth-of-type(3) input[type=checkbox]:checked) > section:first-of-type > section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;

    h2 {
        display:none;
    }

    div {
        display: block;
    }
}

@property --y {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --x {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --x-steps {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

@property --y-steps {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

/* @media (max-width: 530px) {
    article {
        width: 22em;
        height: 39em;
    }
}

@media (max-width: 450px) {
    article {
        width: 18em;
        height: 39em;
    }
} */