:root {
    /* color */
    --pink: #E97BAD;
    --black: #000;
    --darkgray: #3c3939;


    /* game */

}

body {
    margin: 2rem;
}

main {
    height: 200vh;
}

/**********
 * gameboy *
***********/
article {
    width: 25em;
    height: 37.5em;
    padding: 2rem;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: start;
    border: solid 5px var(--black);
    border-radius: 3px 3px 50px 3px;

    anchor-name:--anchor;

    section {
    width: 100%;
    margin-bottom: 1rem;

    background-color: var(--black);
    }
}

/*********
 * Power *
**********/
main > input[type=checkbox]:first-of-type {
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: var(--black);
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    position-anchor:--anchor;
    top:anchor(top);
    left:anchor(left);
    translate: .5em -1em;
    transition: .3s;


    &:checked {
    translate: 3em -1em;

    }
}

main label[for=power] {
    position: absolute;
    position-anchor: --anchor;
    top:anchor(top);
    left:anchor(left);
    translate: .5em .5em;
}

/************
 * controls *
*************/
article section:nth-of-type(2) {
    max-height: 50%;
    background-color: transparent;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    justify-items: center;
    align-items: center;

    div {
        display: flex;
        width: fit-content;
    }
}

button {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 100%;
    border: solid 2px var(--black);

    &:active {
        background-color: black;
    }
}

input[type=radio] {
    appearance: none;
    width: 20px;
    height: 10px;
    background-color: gray;
    border-radius: 100%;
    border: solid 2px var(--black);

    &:active {
        background-color: black;
    }

}

/* Arrows */
section:nth-of-type(2) > div:first-of-type {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: start;
    justify-items: end;
    align-items: center;
}

section:nth-of-type(2) div:first-of-type input[type=radio] {
    border-radius: 0;
    width: 40px;
    height: 30px;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:first-of-type {
    grid-column: 2;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(2) {
    grid-row: 2;
    grid-column: 3;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(3) {
    grid-column: 2;
    grid-row: 3;
}

section:nth-of-type(2) div:first-of-type input[type=radio]:nth-of-type(4) {
    grid-column: 1;
    grid-row: 2;
}

section:nth-of-type(2) div:first-of-type button:first-of-type, section:nth-of-type(2) div:first-of-type button:nth-of-type(3) {
    rotate: 90deg;
}

/* A & B */
section:nth-of-type(2) div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    ul li {
        width: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 3em;
        height: 3em
    }

    ul li:not(:first-of-type) p {
        margin-bottom: 2em;
    }

    @layer p {
        justify-self: start;
        align-self: start;
        margin: 0;
    }
}

/* start and select */
section:nth-of-type(2) div:nth-of-type(3) {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-self: end;

    button {
        border-radius: 10px;
        width: 40px;
        margin: 1em;
        grid-row: 1;
        margin-bottom: 0;
    }

    input[type=checkbox] {
        appearance: none;
        border-radius: 10px;
        width: 40px;
        margin: 1em;
        grid-row: 1;
        margin-bottom: 0;

        background-color: gray;
        border: solid 2px var(--black);

        &:active {
            background-color: black;
        }
    }


    p {
        text-align: center;
    }
}

/**********
 * screen *
***********/
article > section:first-of-type {
    height: 20em;
    background-color: var(--black);
    border-radius: 3px 3px 40px 3px;
    display: grid;
    place-items: center;

    > section {
        width: 18em;
        height: 18em;
        background-color: var(--darkgray);
        margin:0;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    section h2 {
        opacity: 0;
        text-align: center;
        align-self: center;
    }
}

main:has(> input[type=checkbox]:first-of-type:checked) section:has(section) section {
    background-color: white;
    transition: 2s;
}

main:has(> input[type=checkbox]:first-of-type:checked) section:has(section) section h2 {
    opacity: 1;
    transition: 4s;
}


/********
 * Game *
*********/
/* press start */
article:has(section:nth-of-type(2) div:nth-of-type(3) input[type=checkbox]:checked) > section:first-of-type > section h2 {
    display:none;
}

article:has(section:nth-of-type(2) div:nth-of-type(3) input[type=checkbox]:checked) > section:first-of-type > section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr)
}

